<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>My Blog</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
		<meta name="format-detection" content="telephone=no" />
	</head>
	<body style="margin:0px;padding:0px; background-color:#ffffff;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#F1F2F4;">
			<tr>
				<td align="left" valign="top" style="border:30px solid #343A40;padding:10px 25px;"><br />
					Dear <%=firstname %> <%=lastname %>,<br />
					Thank you for Writing to us.
					
					<br/><br/><br/>
					<b>**This is an auto generated system ticket in response to your email**</b><br/>
					Our customer care personnel will check and revert back within 24-48 hours. In the event of any delay for a complete resolution to your query, we will keep you posted on the expected timelines for the resolution.<br/><br/>
					Your feedback is important to us and we are committed towards a happy resolution.
					
					<br /><br />
					<strong>Thanks a lot</strong>,
					<br />
					Team My Blog<br /><br />
				</td>
			</tr>
		</table>
	</body>
</html>