<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>My Blog</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
		<meta name="format-detection" content="telephone=no" />
	</head>
	<body style="margin:0px;padding:0px; background-color:#ffffff;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#F1F2F4;">
			<tr>
				<td align="left" valign="top" style="border:30px solid #343A40;padding:10px 25px;"><br />
					We have received a password reset request from your account. If you have not issued a password reset request, you can safely ignore this mail, and your account will not be affected.<br/>
					<br/>To reset your password, click the link below :
					<br> <b><a href=http://localhost:3000/reset-password/<%=encodedata %>> Reset Password  Link</a><br/><br/>
					NOTE! The link is only active for one hour.
					
					<br /><br />
					<strong>Thanks a lot</strong>,
					<br />
					Team My Blog<br /><br />
				</td>
			</tr>
		</table>
	</body>
</html>